.wrapper {
    background-color: white;
    min-height: 100vh;
    padding: 24px;
}

.titleBox {
    margin: 20px 0;
    margin-bottom: 0px;
    align-items: center;
    text-align: center;
    font-weight:bolder;
    font-size: 150%;
}

.header{
    background: #ffffff;
    overflow: hidden;
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
  }
  .header h2{
    text-transform: uppercase;
    color: black;
    margin: 0;
    margin-bottom: 5px;
    display: inline-block;
  }

  .backButton{
    width: 28px;
    height: 28px;
    padding-right: 90%;
    padding-top: 6%
    }

/* 건물역사 내용 */
.history{
    background: white;
    padding: 10%;
    padding-top: 0%;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;
  }

  .history p {
    margin: 0px;
    white-space: pre-line;
  }
  
/* 카테고리 */
.list {
  margin: 5%;
}

.details .name {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 0px;

  color: #1D232E;
}

.category {
  width: 80px;
  height: 25px;
  
  background: #FFFFFF;
  border: 1px solid rgba(113, 113, 116, 0.22);
  box-shadow: 12px 26px 50px rgba(90, 108, 234, 0.07);
  border-radius: 22px;
  float: right;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  vertical-align: center;
  letter-spacing: 0.5px;

  color: #000000;

  mix-blend-mode: normal;
}

.info {
  font-weight: 550;
  font-size: 14px;
  line-height: 16px;
  margin-top: 2%;
  margin-bottom: 10%;
  /* or 114% */
  
  letter-spacing: -0.5px;
  
  color: rgba(29, 35, 46, 0.4) 
}