<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facility Details</title>

    <link rel="stylesheet" type="text/css" href="{% static './css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static './css/facility.css' %}" />

</head>
<body>
    <div class="middle"> <!-- 가운데로 모아지게 하는 것 -->
        <div class="wrapper">
            <div class="titleBox"> <!-- 고정, 스크롤 안 됨 -->
                <div class="header" class="oneLine" >
                    <a href="{% url 'index' %}" style="display:inline;"><img src="{% static './static/image/arrow_left.png' %}" class="backButton"></a>
                    <h2 style="display:inline;"> {{ building.building_name }} </h2>
                </div>
                  <br>
             </div>

             <div class="contentBox"> <!-- 스크롤해서 역사, 카테고리 별 시설 보여줌 -->
                <div class="history">
                    <p> {{ building.history }} </p>
                    <!-- <p> • 지금은 히스토리가 없어서 예시로 나오는 글<br> 
                    • 지금은 히스토리가 없어서 예시로 나오는 글<br>
                    • 지금은 히스토리가 없어서 예시로 나오는 글</p> -->

                </div>
                {% for facility in facilities %}
                <div class="list">
                    <div class="details">
                        <span class="name">{{ facility.facility_name }}</span>
                        <span class="category">{{ facility.get_category_display }}</span>
                        <p class="info">{{ facility.facility_loc }}</p>
                    </div>
                </div>

                {% endfor %}
             </div>
        
        </div>
        
    </div>
</body>
</html>

<!-- 나중에 facility DB 불러오면 아래 것 시도해보기 -->

<!-- <h2> {{building.building_name}} </h2> -->
