<html>
{% load static %}
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>🐯KUMAP🐯</title>
    <link rel="stylesheet" type="text/css" href="{% static './MapApp/css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static './css/search.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static './MapApp/css/index.css' %}">

    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey={{tmapKey}}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>
  
    <div id="mapwrap" class="middle">
      <div class="wrapper hidden" id="search_modal_1">
            <div class="searchBox">
                <div class="header">
                    <h2>목적지 검색</h2>
                    <input onkeyup="filter()" type="text" id="value" placeholder="목적지를 입력해주세요.">
                </div>
                <div class="choice">
                    {% for building in buildingList %}
                    <div class="item" onclick="hiddenToggle1('{{building.pk}}','{{building.building_lat}}','{{building.building_lon}}','{{building.building_name}}')">
                        <span id="select_building" class="name" style="cursor:pointer;"> {{building.building_name}} </span>
                    </div>
                    {% endfor %}
                    <div class="YB"></div>
                </div>   
            </div>
          </div>
        <div class="wrapper hidden" id="search_modal_2">
            <div class="searchBox">
                <div class="header">
                    <h2>출발지 검색</h2>
                    <input onkeyup="filter()" type="text" id="value" placeholder="출발지를 입력해주세요.">
                </div>
                <div class="choice">
                    {% for building in buildingList %}
                    <div class="item" onclick="hiddenToggle('{{building.building_name}}')">
                        <span id="select_building" class="name" style="cursor:pointer;"> {{building.building_name}} </span>
                    </div>
                    {% endfor %}
                </div>   
            </div>
          </div>
        <div id="map" style="width:100%;height:100vh;">
            <div class="first_modal_location">
              <div class="first_search_modal">
                <span class="material-icons search_scope">search</span>
                <span class="search_font">목적지를 검색하세요</span>
                <img class="kumapIcon" src="https://blogfiles.pstatic.net/MjAyMjA4MThfMTIz/MDAxNjYwNzUxMDIxMzcy.rB9fHVptpu9tgY3-d67qXXMnIeCAJXgVXRz9LibRRNMg.NYk5kR9qZAOhD13otCWU27yY7poMuYT4juSK2ALgAkcg.PNG.whoy259/KakaoTalk_20220817_010207150_01.png">
              </div>
            </div>
            <div class="scroll__wrap">
                <div class="scroll--element" id="allMenu" onclick="changeButton('allMenu')"><div id="menuIcon"></div><div>모든 건물</div></div>
                <div class="scroll--element" id="cafeMenu" onclick="changeButton('cafeMenu')"><div id="menuIcon"></div><div>카페</div></div>
                <div class="scroll--element" id="resMenu" onclick="changeButton('resMenu')"><div id="menuIcon"></div><div>식당</div></div>
                <div class="scroll--element" id="loungeMenu" onclick="changeButton('loungeMenu')"><div id="menuIcon"></div><div>스터디</div></div>
                <div class="scroll--element" id="bookMenu" onclick="changeButton('bookMenu')"><div id="menuIcon"></div><div>책반납기</div></div>
                <div class="scroll--element" id="printMenu" onclick="changeButton('printMenu')"><div id="menuIcon"></div><div>프린터</div></div>
                <div class="scroll--element" id="onestopMenu" onclick="changeButton('onestopMenu')"><div id="menuIcon"></div><div>원스톱</div></div>
            </div>
        </div>
        <div class="modal"></div>
    </div>
    <!-- 지도 위에 표시될 마커 카테고리 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{kakaoKey}}"></script>

</script>
	<script type="text/javascript">
		/* 지도 생성 */
		var mapContainer = document.getElementById('map');
		var mapOption = {
			center: new kakao.maps.LatLng(37.58631, 127.02936),
			level: 4
		}
		var map = new kakao.maps.Map(mapContainer, mapOption);

		/* DB 정보 저장 */
		const buildings = {{ buildingsj|safe }};
		const temp1 = JSON.stringify(buildings);
    const temp2 = JSON.parse(temp1)
		// view에서 받아온 DB담아두기 
        categoryPositions = []
		/* Building 중심 >> 위도, 경도 좌표 저장 */
		const buildingLocations  = temp2.map(element => {return  {
			    pk: element.pk,
        	latlng: new kakao.maps.LatLng(element.fields.building_lat, element.fields.building_lon),
          lat: element.fields.building_lat,
          long: element.fields.building_lon,
		      history: element.fields.history,
          name: element.fields.building_name,
        }} );

        // 모든 건물 마커들의 좌푯값 담아두기
        let allPositions = []
        let allMarkerStorage = []
        buildingLocations.forEach(function(item){
            allPositions.push(item['latlng'])
            var imageSrc = "https://postfiles.pstatic.net/MjAyMjA4MTdfMTA3/MDAxNjYwNjc1NDUzNjYy.h3QJbB44GYpA-Kc2utadHDFeM79aTqmFDrddoy572Ysg.5drS6FZD-EVNrM7Xh-SeRJN5UE38SdKwDRBjsGHq9s0g.PNG.ahrefhoo/%ED%98%B8%EB%9E%91%EC%9D%B4%EB%A7%88%EC%BB%A4.png?type=w966"; 
            var imageSize = new kakao.maps.Size(35, 35); 
            
            // 마커 이미지를 생성합니다    
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
            
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: item.latlng, // 마커를 표시할 위치
                image : markerImage // 마커 이미지 
            });
            allMarkerStorage.push(marker)
            kakao.maps.event.addListener(marker, 'click', function(mouseEvent) { 
            var latlng = item.latlng;
            location.href = `javascript:display(${item.pk}); setZoomRange(${latlng.getLat()}, ${latlng.getLng()}); makeSearchmodalGetName('${item.name}',1)`;
            })
        })
        function sungwunEasterEgg(){
          var imageSrc = "https://postfiles.pstatic.net/MjAyMjA4MTdfMTA3/MDAxNjYwNjc1NDUzNjYy.h3QJbB44GYpA-Kc2utadHDFeM79aTqmFDrddoy572Ysg.5drS6FZD-EVNrM7Xh-SeRJN5UE38SdKwDRBjsGHq9s0g.PNG.ahrefhoo/%ED%98%B8%EB%9E%91%EC%9D%B4%EB%A7%88%EC%BB%A4.png?type=w966"; 
            var imageSize = new kakao.maps.Size(35, 35);
          var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
          var latlng=new kakao.maps.LatLng(34.946421424403304, 127.72892831488181)
          var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: latlng, // 마커를 표시할 위치
                image : markerImage // 마커 이미지 
            });
          kakao.maps.event.addListener(marker, 'click', function(mouseEvent) { 
            latlng = new kakao.maps.LatLng(34.946421424403304, 127.72892831488181)
            location.href = `javascript:setZoomRange(${latlng.getLat()}, ${latlng.getLng()}); makeSearchmodalGetName('개발자 중 한 명이 다녔던 고등학교',2)`;
            })
        }

        function yejinEasterEgg(){
          var imageSrc = "https://postfiles.pstatic.net/MjAyMjA4MTdfMTA3/MDAxNjYwNjc1NDUzNjYy.h3QJbB44GYpA-Kc2utadHDFeM79aTqmFDrddoy572Ysg.5drS6FZD-EVNrM7Xh-SeRJN5UE38SdKwDRBjsGHq9s0g.PNG.ahrefhoo/%ED%98%B8%EB%9E%91%EC%9D%B4%EB%A7%88%EC%BB%A4.png?type=w966"; 
            var imageSize = new kakao.maps.Size(35, 35);
          var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
          var latlng=new kakao.maps.LatLng(37.5609247, 126.9973567)
          var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: latlng, // 마커를 표시할 위치
                image : markerImage // 마커 이미지 
            });
          kakao.maps.event.addListener(marker, 'click', function(mouseEvent) { 
            latlng = new kakao.maps.LatLng(37.5609247, 126.9973567)
            location.href = `javascript:setZoomRange(${latlng.getLat()}, ${latlng.getLng()}); makeSearchmodalGetName('개발자 중 한 명의 최애 맛집',2)`;
            })
        }

        function jhEasterEgg(){
          var imageSrc = "https://postfiles.pstatic.net/MjAyMjA4MTdfMTA3/MDAxNjYwNjc1NDUzNjYy.h3QJbB44GYpA-Kc2utadHDFeM79aTqmFDrddoy572Ysg.5drS6FZD-EVNrM7Xh-SeRJN5UE38SdKwDRBjsGHq9s0g.PNG.ahrefhoo/%ED%98%B8%EB%9E%91%EC%9D%B4%EB%A7%88%EC%BB%A4.png?type=w966"; 
            var imageSize = new kakao.maps.Size(35, 35);
          var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
          var latlng=new kakao.maps.LatLng(37.2599665470065, 127.0446888947659)
          var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: latlng, // 마커를 표시할 위치
                image : markerImage // 마커 이미지 
            });
          kakao.maps.event.addListener(marker, 'click', function(mouseEvent) { 
            latlng = new kakao.maps.LatLng(37.2599665470065, 127.0446888947659)
            location.href = `javascript:setZoomRange(${latlng.getLat()}, ${latlng.getLng()}); makeSearchmodalGetName('개발자 중 한 명의 첫 데이트 장소',2)`;
            })
        }
        function yoonEasterEgg(){
          var imageSrc = "https://postfiles.pstatic.net/MjAyMjA4MTdfMTA3/MDAxNjYwNjc1NDUzNjYy.h3QJbB44GYpA-Kc2utadHDFeM79aTqmFDrddoy572Ysg.5drS6FZD-EVNrM7Xh-SeRJN5UE38SdKwDRBjsGHq9s0g.PNG.ahrefhoo/%ED%98%B8%EB%9E%91%EC%9D%B4%EB%A7%88%EC%BB%A4.png?type=w966"; 
            var imageSize = new kakao.maps.Size(35, 35);
          var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
          var latlng=new kakao.maps.LatLng(35.542497431946614, 129.3409433651261)
          var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: latlng, // 마커를 표시할 위치
                image : markerImage // 마커 이미지 
            });
          kakao.maps.event.addListener(marker, 'click', function(mouseEvent) { 
            latlng = new kakao.maps.LatLng(35.542497431946614, 129.3409433651261)
            location.href = `javascript:setZoomRange(${latlng.getLat()}, ${latlng.getLng()}); makeSearchmodalGetName('개발자 중 한 명이 태어난 곳',2)`;
            })
        }
        sungwunEasterEgg();
        yejinEasterEgg();
        jhEasterEgg();
        yoonEasterEgg();
        function makeSearchmodalGetName(name, state){
          let searchboxname = document.querySelector('.search_font')
          let firstSearchModal = document.querySelector('.first_modal_location')
          if(state === 0){
            firstSearchModal.innerHTML = 
              `<div class="first_search_modal">
                <span class="material-icons search_scope">search</span>
                <span class="search_font">목적지를 검색하세요</span>
                <img class="kumapIcon" src="https://blogfiles.pstatic.net/MjAyMjA4MThfMTIz/MDAxNjYwNzUxMDIxMzcy.rB9fHVptpu9tgY3-d67qXXMnIeCAJXgVXRz9LibRRNMg.NYk5kR9qZAOhD13otCWU27yY7poMuYT4juSK2ALgAkcg.PNG.whoy259/KakaoTalk_20220817_010207150_01.png">
              </div>`
          }
          if(state === 1){
            firstSearchModal.innerHTML = 
            `<div class="justname">
              <span class="search_font" style="color: rgba(0,0,0,1)">${name}</span>
            </div>`
          }
          if(state === 2){
            firstSearchModal.innerHTML = 
            `<div class="justname">
              <span class="search_font" style="color: rgba(0,0,0,1)">${name}</span>
            </div>`
            setTimeout(function(){
	            location.reload();
	          },3000);
          }
          searchboxname.innerText = name
        }
        function hiddenToggle1(pk,lat,lon,name){
          let big_Modal_1 = document.getElementById('search_modal_1')
          makeSearchmodalGetName(name,1)
          const clickedClass = "hidden";
          if (big_Modal_1.classList.contains(clickedClass)) {
            big_Modal_1.classList.remove(clickedClass);
          } else {
            big_Modal_1.classList.add(clickedClass);
          }
          const buildingLocation = {
            pk: pk,
            latlng: new kakao.maps.LatLng(lat,lon),
          }
          var latlng = buildingLocation.latlng
          setZoomRange(latlng.getLat(), latlng.getLng())
          display(pk);
        }

      
        function showSecondModal(name){
        template=`
        <div class="container">
          <img src="{% static './images/close_button.png' %}" class="closeButton" onclick="closeModal()">
          <h3>이동경로 검색</h3>
          <p class="address" style="margin-top:0px;">도보 기준 이동경로 및 시간을 계산합니다.</p>
          <div class="bar"></div>
          <div class="button_loc search_btn" style="cursor:pointer;">
            <img src="{% static './images/location.png' %}" class="locationImage">
            <span id="from_building">출발지를 입력해주세요</span>
          </div>
          <div class="button_loc">
            <img src="{% static './images/location.png' %}" class="locationImage">
            <span id='to_buliding_name'>목적지 : ${name}</span>
          </div>
          <span class="button_main" onclick="naver_please()">이동경로 검색</span>
        </div>`
        modal = document.querySelector(".modal")
        modal.innerHTML = template
        btn_loc()
      }
      function showThirdModal(times,fromBuildingNames,toBuildingNames){
        modal = document.querySelector(".modal")
        template = `
        <div class="container">
          <img src="{% static './images/close_button.png' %}" class="closeButton" onclick="closeModal()">
          <h3>이동시간 확인</h3>
          <div class="button_loc2">
            <span>${fromBuildingNames}</span>
            <img src="{% static './images/arrow.png' %}" class="arrow">
            <span>${toBuildingNames}</span>
          </div>
          <div class="button_main_3">
            <img src="{% static './images/running.png' %}" class="runningImage">
            <span>도보 예상시간: ${times}분</span>
          </div>
          <p class="button_else" onclick="closeModal()">다른 출발지 지정하기</p>
          <a href="https://map.kakao.com/" class="button_else">상세 이동경로 확인하기</a>
        </div>
        `
        modal.innerHTML=template
      }
      function naver_please(){
        let fromBuildingName = document.getElementById('from_building').innerText
        let toBuildingName = document.getElementById('to_buliding_name').innerText
        if(fromBuildingName==='출발지를 입력해주세요'){
          return;
        }
        else{
          $.ajax({
            url: '/time/' + fromBuildingName +'/'+toBuildingName,
            async: false,
            type: "GET",
            dataType: "json", 
            success: (latlon) => {
                  console.log(latlon)
                  $.ajax({
                    method : "POST",
                    url : "https://apis.openapi.sk.com/tmap/routes/pedestrian?version=1&format=json&callback=result",
                    async : false,
                    data : {
                      "appKey" : "{{tmapKey}}",
                      "startX" : latlon.frombuilding_lon,
                      "startY" : latlon.frombuilding_lat,
                      "endX" : latlon.tobuilding_lon,
                      "endY" : latlon.tobuilding_lat,
                      "reqCoordType" : "WGS84GEO",
                      "resCoordType" : "EPSG3857",
                      "startName" : "출발지",
                      "endName" : "도착지"
                    },
                    success: function(response){
                      var resultData = response.features;
                      times = ((resultData[0].properties.totalTime) / 60).toFixed(0)
                      showThirdModal(times,fromBuildingName,toBuildingName)
                    },
                          })
            }
            
          });
        }
      }
      
      function grab_etr(){
        var etr_btn = document.querySelector('.etrance_btn')
        
        etr_btn.addEventListener('click',()=>{
          str_str_btn = String(etr_btn.id)
          var result3 = str_str_btn.slice(9);
          
          window.location.href=`./entrance/${result3}`
        })
      }
      function grab_fac(){
        var etr_btn = document.querySelector('.facility_btn')
        etr_btn.addEventListener('click',()=>{
          str_str_btn = String(etr_btn.id)
          var result3 = str_str_btn.slice(9);
          window.location.href=`./facility/${result3}`
        })
      }
      function showFirstModal(schoolPk){
            if (schoolPk != null){
            $.ajax({
            url: "detail_ajax/"+schoolPk,
            async: false,
            type: "GET",
            dataType: "json",
            success: (data) => {
                const num=data.pk
                template = 
                `<div class="container">
                    <img src="{% static './images/close_button.png' %}" class="closeButton" onclick="closeModal()">
                    <h3>` + data.name + `</h3>
                    <p class="address" style="margin-top:0px;"></p>
                    <div class="bar"></div>
                    <a class="button_main" onclick="showSecondModal('` +data.name +`')">목적지 설정</a>
                    <p id="entrance_${data.pk}" class="button_else etrance_btn">건물 출입구 확인하기</p>
                    <p id="facility_${data.pk}" class="button_else facility_btn">건물 내 시설 확인하기</p>
                </div>`               
                },
                error: (error) => {
                console.log(error);
                }
            });
            modal = document.querySelector(".modal")
            modal.innerHTML = template
            grab_etr()
            grab_fac()
            }
        }
        function display(pk) {
          showFirstModal(pk);
        }
        function closeModal(){
        template=''
        modal = document.querySelector(".modal")
        makeSearchmodalGetName('목적지를 검색하세요',0)
        modal.innerHTML = template
      }

      /*카테고리 버튼 클릭 시 색 변경 */
      function changeButton(buttonType) {
        buttons = []
        var cafe = document.getElementById('cafeMenu');
        buttons.push(cafe)
        var all = document.getElementById('allMenu');
        buttons.push(all)
        var res = document.getElementById('resMenu');
        buttons.push(res)
        var lounge = document.getElementById('loungeMenu');
        buttons.push(lounge)
        var book = document.getElementById('bookMenu');
        buttons.push(book)
        var print = document.getElementById('printMenu');
        buttons.push(print)
        var onestop = document.getElementById('onestopMenu');
        buttons.push(onestop)
        
        buttons.forEach(function(element){
          console.log(element.id)
          if(element.id == buttonType){
            if(element.id == 'allMenu'){
              element.className = 'all_selected'
            }
            else if(element.id == 'cafeMenu'){
              element.className = 'menu_selected1'
            }
            else if(element.id == 'resMenu'){
              element.className = 'menu_selected2'
            }
            else if(element.id == 'loungeMenu'){
              element.className = 'menu_selected3'
            }
            else if(element.id == 'bookMenu'){
              element.className = 'menu_selected4'
            }
            else if(element.id == 'printMenu'){
              element.className = 'menu_selected5'
            }
            else if(element.id == 'onestopMenu'){
              element.className = 'menu_selected6'
            }
          }
          else(
            element.className = "scroll--element"
          )
        })
      } 


        let MarkerStorage = []
       
        /* category 버튼 클릭 시 받아오는 마커 좌표값 비동기 구현 */
        const changeCategory = (kind) => {
          // var upright = new kakao.maps.LatLng(37.59231422996649, 127.03612010255023), downleft = new kakao.maps.LatLng(37.581505411905574, 127.02395582658365);
          // var bounds = new kakao.LatLngBounds(upright, downleft);
          // map.setBounds(bounds)

          //카테고리 클릭한 후 마커들 기준으로 지도 범위 적절하게 재설정
          map.setLevel(5)
          map.setCenter(new kakao.maps.LatLng(37.58631, 127.02936))

          /* 기존에 있는 마커를 삭제해줌 */
          MarkerStorage.forEach(function(item){
            item.setMap(null)
          })
          allMarkerStorage.forEach(function(item){
            item.setMap(null)
          })

          if (kind == 1){
            imageSrc = "https://postfiles.pstatic.net/MjAyMjA4MTRfMTE3/MDAxNjYwNDQ5MTQwMzcz.QqhNgnVVCqtaytcRjxqmfhjTav3gtatX3glBmA5AOAcg.36BjWIM_aKS-jScT9w7affP6DhpP1JnZ4s6VQe0FmIsg.PNG.ahrefhoo/Cafe_24px.png?type=w966";
          }
          else if (kind == 2){
            imageSrc = "https://postfiles.pstatic.net/MjAyMjA4MTRfMTQw/MDAxNjYwNDUxNzk4MjUw.1t9NvvaJlMNaTcsVxC_as-ifZ9r_-fjRoX97UabNX8Qg.xKKso0xyWdqXB1FsZ7D9Fmym5TQcoy9EWpIZC2rCo3Ig.PNG.ahrefhoo/Restaurant_24px.png?type=w966";
          }
          else if (kind == 3){
            imageSrc = "https://postfiles.pstatic.net/MjAyMjA4MTRfNzAg/MDAxNjYwNDUxNzk4MjMx.X5pzKcOlZqYvcnqHKQQsEVFfHWz1lqNTyK6xnbj1h4Qg.JdDlea-Pd75934cIBLU24nEiW4FaS-RW6gT0yh9-7LEg.PNG.ahrefhoo/Study_24px.png?type=w966";
          }
          else if (kind == 4){
            imageSrc = "https://postfiles.pstatic.net/MjAyMjA4MTRfMTU4/MDAxNjYwNDUxNzg4OTIw.5cz7Z-8B1O6E8Qc8xDKQcAl1yjulZSPt-kY3fj0ebxIg.Azk2T9CP-RJRHinIs1t55l9FR71oR_WGqXAqdJmAjLcg.PNG.ahrefhoo/Bookreturn_24px.png?type=w966";
          }
          else if (kind == 5){
            imageSrc = "https://postfiles.pstatic.net/MjAyMjA4MTRfMjQ5/MDAxNjYwNDUxNzk4Mjg0.P3alLMcB6BDrgMnD2wfDDepGxs9MYa_lfDzMOglhMBgg.ZdZhg13OEMWqW4eyENP7Jfj8tBF6rRPqs8seDnAEVJcg.PNG.ahrefhoo/Printer_24px.png?type=w966";
          }
          else if (kind == 6){
            imageSrc = "https://postfiles.pstatic.net/MjAyMjA4MTdfMTA3/MDAxNjYwNjc1NDUzNjYy.h3QJbB44GYpA-Kc2utadHDFeM79aTqmFDrddoy572Ysg.5drS6FZD-EVNrM7Xh-SeRJN5UE38SdKwDRBjsGHq9s0g.PNG.ahrefhoo/%ED%98%B8%EB%9E%91%EC%9D%B4%EB%A7%88%EC%BB%A4.png?type=w966";
          }
          else if (kind == 7){
            imageSrc = "https://postfiles.pstatic.net/MjAyMjA4MTRfMTE5/MDAxNjYwNDUxNzk4MTgz.uztbypCmZrUcUDMwR8wqyZGlmmfj5MdLB3Qt1Sd9bc4g.iQ_ohRT-s9SFUmwgxzJ55JRFnGjvOXpIuPwTS3G5e9og.PNG.ahrefhoo/One-stop_24px.png?type=w966"
          }
          // name_temp = []
          // pk_temp = []
          
          console.log('카테고리 함수가 제대로 작동되었어요')
          fetch('/category/' + kind, {
            method: "POST",
          })
          .then(response => response.json())
          .then(res => res['setData'].forEach(function(item){
            // console.log(item)

            //여기 view랑 같이 고치는 중
            var imageSize = new kakao.maps.Size(50, 50);
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
            var marker = new kakao.maps.Marker({
              map: map,
              position: new kakao.maps.LatLng(item[2], item[3]),
              image: markerImage
            })
            MarkerStorage.push(marker)
            kakao.maps.event.addListener(marker, 'click', function(mouseEvent) { 
            var latlng = item.latlng;
            location.href = `javascript:display(${item[0]}); setZoomRange(${item[2]}, ${item[3]}); makeSearchmodalGetName('${item[1]}',1)`;
            })
          }))
        }   

        let cafebtn = document.getElementById('cafeMenu');
        cafebtn.addEventListener('click', ()=>{
          console.log('카페가 제대로 클릭되었어요')
          changeCategory(1)
        })
      
        let resbtn = document.getElementById('resMenu')
        resbtn.addEventListener('click', ()=>{
          console.log('식당이 제대로 클릭되었어요')
          changeCategory(2)
        })

        let loungebtn = document.getElementById('loungeMenu')
        loungebtn.addEventListener('click', ()=>{
          console.log('라운지가 제대로 클릭되었어요')
          changeCategory(3)
        })

        let bookbtn = document.getElementById('bookMenu')
        bookbtn.addEventListener('click', ()=>{
          console.log('책 반납기가 제대로 클릭되었어요')
          changeCategory(4)
        })

        let printerbtn = document.getElementById('printMenu')
        printerbtn.addEventListener('click', ()=>{
          console.log('프린터가 제대로 클릭되었어요')
          changeCategory(5)
        })

        let allbtn = document.getElementById('allMenu')
        allbtn.addEventListener('click', ()=>{
          console.log('모든 건물이 제대로 클릭되었어요')
          changeCategory(6)
        })

        let onestopbtn = document.getElementById('onestopMenu')
        onestopbtn.addEventListener('click', ()=>{
          console.log('원스톱이 제대로 클릭되었어요')
          changeCategory(7)
        })

        function setZoomRange(lat, lng) {
          map.setLevel(2);
          var moveLatLon = new kakao.maps.LatLng(lat, lng);
          map.panTo(moveLatLon);
      }    
        
        
      function btn_loc(){
        let searching=document.querySelector('.search_btn')
        searching.addEventListener('click',()=>{
          hiddenToggle('a')
        })
      }
      function filter(){
        
                var value, name, item, i;
        
                value = document.getElementById("value").value.toUpperCase();
                item = document.getElementsByClassName("item");
        
                for(i=0;i<item.length;i++){
                  name = item[i].getElementsByClassName("name");
                  if(name[0].innerHTML.toUpperCase().indexOf(value) > -1){
                    item[i].style.display = "flex";
                  }else{
                    item[i].style.display = "none";
                  }
                }
              }
      let big_modal_2 = document.getElementById('search_modal_2')
      let finding_btn = document.querySelector('.first_modal_location')
      finding_btn.addEventListener('click',()=>{
        document.getElementById('search_modal_1').classList.toggle('hidden')
      })
      function hiddenToggle(name){
        let big_Modal_2 = document.getElementById('search_modal_2')
        document.getElementById('from_building').innerHTML=`출발지 : ${name}`
        const clickedClass = "hidden";
        if (big_Modal_2.classList.contains(clickedClass)) {
          big_Modal_2.classList.remove(clickedClass);
        } else {
          big_Modal_2.classList.add(clickedClass);
        }
      }
      
    </script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-2MXZH0045R');
    </script>
</body>
</html>