<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{% static './css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static './css/search.css' %}" />

</head>
<body>
<!-- 모바일뷰처럼 가운데로 모아지게 -->
    <div class="middle"> 
        <div class="wrapper">
            <div class="searchBox">
                <div class="header">
                    <h2>목적지 검색</h2>
                    <input onkeyup="filter()" type="text" id="value" placeholder="목적지를 입력해주세요.">
                  </div>
                  <br>
        
                <div class="choice">
                    {% for building in buildingList %}
                    <div class="item">
                        <a href="https://www.naver.com" class="name"> {{building.building_name}} </a>
                    </div>
                    {% endfor %}
                </div>
        
            </div>
        
        </div>
        
        
        
        <!-- 자바스크립트 -->
        <script type="text/javascript">
              function filter(){
        
                var value, name, item, i;
        
                value = document.getElementById("value").value.toUpperCase();
                item = document.getElementsByClassName("item");
        
                for(i=0;i<item.length;i++){
                  name = item[i].getElementsByClassName("name");
                  if(name[0].innerHTML.toUpperCase().indexOf(value) > -1){
                    item[i].style.display = "flex";
                  }else{
                    item[i].style.display = "none";
                  }
                }
              }
        </script>
    </div>
</body>
</html>