#test {
    color: blue;

}

#map {
    margin: 0px auto;
}

#mapwrap {
    position: relative;
    overflow: hidden;
}

/* .category, .category *{margin:0;padding:0;color:#000;}    */
.category {
    position: absolute;
    overflow: hidden;
    top: 10px;
    z-index: 10;
    font-family: 'Malgun Gothic','맑은 고딕',sans-serif;
    font-size: 12px;
    text-align: center;
}
.category .cafemenu_selected {
    background:#FF5F4A;
    color:#fff;
    border-left: 1px solid #915B2F;
    border-right: 1px solid #915B2F;

    background-image: url("./hot-drink.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 2px;
    background-size: 20px 20px;
} 

.category .loungemenu_selected {
    background:#FF5F4A;
    color:#fff;
    border-left: 1px solid #915B2F;
    border-right: 1px solid #915B2F;

    background-image: url("./sofa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 2px;
    background-size: 20px 20px;
} 

.category .bookmenu_selected {
    background:#FF5F4A;
    color:#fff;
    border-left: 1px solid #915B2F;
    border-right: 1px solid #915B2F;

    background-image: url("./romance.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 2px;
    background-size: 20px 20px;
} 

.category ul {
    margin: 0px auto;
}

.category li {
    list-style: none;
    float: left;
    border: solid 1px black;
    border-radius: 10px;
    width: 67px;
    height: 30px;
    margin-right: 5px;

    padding-left: 17px;
    padding-top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 2px;
    background-size: 20px 20px;
    background-color: white;

    box-sizing: border-box;
}

#cafeMenu {
    background-image: url("./hot-drink.png");
}

#loungeMenu {
    background-image: url("./sofa.png")
}

#bookMenu {
    background-image: url("./romance.png");
}