#test {
    color: black;

}

#map {
    margin: 0px auto;
}

#mapwrap {
    position: relative;
    overflow: hidden;
}

/* 가로 스크롤 - 카테고리 선택 버튼 */
.wrap {
    max-width:418px; 
    margin:50px auto; 
    /* background:#f8f8f8; */
}

/* 가로 스크롤 적용 */
.scroll__wrap {
    top: 40px;
    overflow-y: auto; 
    white-space: nowrap; 
    font-size: 1rem; 
    overflow-x: auto;
    display: flex;
    width: 350px;
    margin: 0px auto;
    height: 30px;
    padding: 10px 0 10px 0;  
    position: relative;
    z-index: 10;  
}

.scroll--element { 
    cursor: pointer;
    display: flex;
    min-width: 80px; 
    border-radius: 9999px;
    height: 30px; 
    border:1px solid #eee;
    /* background:#fff;  */
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(90, 108, 234, 0.2);
    position: relative;
    z-index: 10;  
}

::-webkit-scrollbar {
    display: none;
}


/* .scroll--element div{ */
/* } */
/* .scroll--element > span {
  background: url("./coolicon.png");
  background-size: 30%;
} */
.scroll--element + .scroll--element {
    margin-left:10px;
}

/* h2 {
    position: absolute;
    z-index: 10;
    left: 20px;
    width: 350px;
    height: 20px;
    background-color: orange;

} */

h3 {
  font-size: 160%;
  margin-bottom: 0px;
  font-weight:900;
  margin-top:0px;
}
.address{
    font-size: 80%;
}
.button_main{
  cursor: pointer;
    margin: 4px 0px 4px 0px;
    padding: 8px 0px 8px 0px;
    background-color: #8B0029;
    color: white;
    width: 80%;
    height: 10%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    line-height: 30px;
    border-radius: 10px;
}
.button_else{
  cursor: pointer;
    margin: 4px 0px 4px 0px;
    padding: 8px 0px 8px 0px;
    background-color: rgb(233, 231, 231);
    color: black;
    width: 80%;
    height: 10%;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    line-height: 30px;
    border-radius: 10px;
    text-decoration: none;
}
.button_loc{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
   margin: 4px 0px 4px 0px;
    padding: 8px 0px 8px 0px;
    background-color: #E8E8E8;
    width: 80%;
    height: 10%;
    line-height: 30px;
    border-radius: 10px;
}
.button_loc2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
   margin: 4px 0px 4px 0px;
    padding: 8px 0px 8px 0px;
    background-color: white;
    width: 80%;
    height: 10%;
    line-height: 30px;
    border-radius: 10px;
  margin: 0px;
  padding: 0;
}
  
  .bar {
    width: 80%;
    height: 3px;
    background-color: white;
  }
  .button {
    margin: 4px 0px 4px 0px;
    background-color: rgb(233, 231, 231);
    width: 160px;
    height: 30px;
    box-shadow: 5px 5px 4px rgb(53, 52, 52);
    line-height: 30px;
  }
.hidden{
display: none;
}
.locationImage{
width: 23px;
height: 27px;
}
.closeButton{
width: 24px;
height: 24px;
padding-left: 80%;
cursor: pointer;
}
.arrow{
width: 14px;
height: 10px;
}
.runningImage{
width:27px;
height: 35px;
}
.search{
  cursor: pointer;
}